* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}


.welcome {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.welcome.show {
  opacity: 1;
  transform: translateY(0);
}



.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #222831;
}

.start-btn {
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #00adb5;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #222831;
}

.game {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.score {
  display: flex;
  width: 90%;
  max-width: 400px;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.p-count,
.c-count {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.p-count {
  color: #fca311;
}

.c-count {
  color: #d62828;
}

.options {
  display: flex;
  width: 90%;
  max-width: 400px;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.rock,
.paper,
.scissor {
  padding: 1.3rem;
  width: 100px;
  background-color: #00adb5;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rock:hover,
.paper:hover,
.scissor:hover {
  background-color: #222831;
}

.move {
  font-size: 2rem;
  margin-top: 3rem;
  color: #222831;
}

.movesleft {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #393e46;
}

.result {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.reload {
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #222831;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reload:hover {
  background-color: #00adb5;
}

@media only screen and (max-width: 600px) {
  .score {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .p-count,
  .c-count {
    margin-top: 0.5rem;
  }

  .options {
    flex-wrap: wrap;
  }

  .rock,
  .paper,
  .scissor {
    width: 100%;
    margin-bottom: 1rem;
  }
}
